

.error{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(233, 204, 210);
    border-radius: 10px;
    background-color: rgb(233, 204, 210);
    box-shadow: #111 5px 5px 5px;
}