main{
    margin:0;
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/backgroundpapier.jpg);
    background-position: center;
    background-size: cover;
   
}

.containerinvoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    /*margin-top: 50px;*/
    margin-bottom: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;  
    box-shadow: 10px 5px 25px #111;
  
}

.invoicetitle{
    display: flex;
    justify-content: center;
   /* color: #fff;*/
    color:#F8485E ;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #F8485E;
    border-radius: 10px;
   /* background-color: aqua;*/
    box-shadow: #111 5px 5px 5px;
    
}
.container1invoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
   
   
}
.invoicenumber{
height: 50px;
font-weight: bold;
margin-bottom: 15px;

}
.date{
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.company{
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.contactinvoice{
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}

.button{
    height: 50PX;
    display: flex;
    justify-content: center;

    
}
.inputinvoice{
    width: 350px;
    height: 20px;
    border-radius: 5px;
    box-shadow: #111 3px 3px 3px;
    
}
.submit{
    
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-image: url(../images/backgroundbutton.jpg);
    background-size: cover;
    color: #111;
    font-size: 20px;
    margin: 0 auto;
    transition: transform .2s; /* Animation */
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}
.submit:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 320px){
    main, h1{
        width: 100%;
    }
}