body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/backgroundpapier.jpg);
    background-position: center;
    background-size: cover;
   
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #111;
    border-radius: 10px ;
    background-color: #79AACB;
    color: #fff;
    box-shadow: #111 5px 5px 5px;
    margin-top: 150px;
    margin-bottom: 50px;
   
}
table{
    border-collapse: collapse;
    width: 500px;
    margin-bottom: 20px;
    background-color: honeydew;
    box-shadow: 5px 5px 5px;
}

th{
    background-color: grey;
    color: white;
    border-bottom: 1px solid #111;
}
.titletab1{
    background-color: aqua;
    color: #111;
  
}
.titletab2{
    background-color: rgb(233, 204, 210);
    color: #111;
}
.titletab3{
    background-color: rgb(225, 188, 243);
    color:#111;
}

.container1 {
table-layout: auto;
border: 1px solid #111;


}
.container2{
   table-layout: auto;
   border: 1px solid #111;
  
 

}
.container3{
  table-layout: auto;
  border: 1px solid #111;
    
}

.row1{
    font-size: 12px;

}
.row2{
    font-size: 12px;
    background-color: gainsboro;
}
