header {
  width: 100%;
}

.navbar {
  /*background-color: #79AABC;*/
  background-image: url(../images/backgroundpapier.jpg);
  color: #79AABC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica, Sans-Serif;
  /* box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);*/
}

.logoHeader {
  height: 40px;
  /*background-color: white;*/
  padding: 7px;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navList {
  list-style-type: none;
}

.navList .listItem {
  display: inline-block;
  padding: 30px 10px;
}

.navbar a {
  text-decoration: none;
  /*color: white;*/
  color: #79AACB;
}

.navbar .connect {
  color: #E0394C;
}

.navbar .connect:hover {
  text-decoration: none;
  color: #79AACB;
}

.navbar a:hover {
  text-decoration: none;
  color: #E0394C;
}

.menu {
  display: none;
  margin-bottom: 4px;
}

.menuLine {
  width: 20px;
  height: 3px;
  background-color: white;
  /*background-image: url(../images/backgroundpapier.jpg);*/
  margin-bottom: 4px;
}

/******** SUB DROPDOWN MENU *************/
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: auto;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  padding-top: 10px;
  display: none;
  position: fixed;
  /*background-color: #79AABC;*/
  background-image: url(../images/backgroundpapier.jpg);
  width: 160;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  /*color: white;*/
  color: #79AACB;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /* background-color: #79AABC;*/
  background-image: url(../images/backgroundpapier.jpg);
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/******** EFFECTS *************/
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/******** RESPONSIVE *************/
@media all and (max-width: 805px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar .containerLogo {
    width: 100%;
  }
  .menu {
    position: fixed;
    right: 40px;
    top: 29px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .menu:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
  }
  .navList {
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: none;
  }
  .navList .listItem {
    display: block;
    padding: 10px;
    border-top: 1px solid white;
  }
  .logoHeader {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
  }
  .active {
    display: block;
  }
  .footer {
    text-align: center;
    font-size: 14px;
    margin-left: 0px;
    font-family: Helvetica, Sans-Serif;
  }
  .dropdown-content {
    display: none;
    text-align: center;
    background-color: #79AABC;
    max-width: 160px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    text-align: center;
    padding-top: 10px;
  }
  .dropdown-content a:first-child {
    padding-top: 30px;
  }
  .dropdown:hover .dropdown-content {
    display: inline;
    text-align: center;
    position: relative;
  }
}

footer {
  margin-bottom: 30px;
  height: 30px;
}

.fixed-footer {
  /*left: 0;
    bottom: 0;*/
  width: 100%;
  /*background-color: #79AABC;*/
  background-image: url(../images/backgroundpapier.jpg);
  color: #79AABC;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  margin-left: 60px;
  font-family: Helvetica, Sans-Serif;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */