
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: $font;
    background-image: $backgroundbody;
    background-position: center;
    background-size: cover;
}

main{
    margin:0;
    min-height: 100vh;
}
.companytitle{
  
     display: flex;
     justify-content: center;
     color: $colorcompany;
     font-weight: bold;
     font-size:40px;
     margin-top: 30px;
     margin-bottom: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 2px solid $colorcompany;
     border-radius: 10px;
     box-shadow: #111 5px 5px 5px;
        
    }

.containercompany{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;  
    box-shadow: 10px 5px 25px #111;

}

.container1company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
    padding-top:20px;
   
   
}
.companyname{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.tva{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.country{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.companytype{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
}

.button{
    height: 50PX;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.input{
    width: 350px;
    height: 20px;
    background-color: rgb(218, 214, 214);
    border-radius: 5px;
    box-shadow: #111 3px 3px 3px;

}
::placeholder{
    color: rgb(58, 56, 56);
}
.submit{
    
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-image:$backgroundbutton;
    background-size: cover;
    color: #111;
    font-size: 20px;
    margin: 0 auto;
    transition: transform .2s; /* Animation */
    cursor: pointer;
    box-shadow: 3px 3px 3px;
}
.submit:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 320px){
    main, h1{
        width: 100%;
    }
}