.containerinvoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;  
    box-shadow: 10px 5px 25px #111;
  
}

.invoicetitle{
    display: flex;
    justify-content: center;
    color:$colorinvoice;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorinvoice;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.container1invoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
   
   
}
.invoicenumber{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.date{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.company{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}
.contactinvoice{
    display: flex;
    flex-direction: column;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;

}

.inputinvoice{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 20px;
    border-radius: 5px;
    box-shadow: #111 3px 3px 3px;
    
}
