
.companylist{
    display: flex;
    justify-content: center;
    color: $colorcompany;
    font-weight: bold;
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorcompany;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.titlecompanylist{
    font-size: 25px;
    font-weight: bold;
    background-color: $colorcompany;
    color: #fff;
}
.containercompanylist{

    margin-top: 50px;
}
table{
    border-collapse: collapse;
    width: 900px;
    height: auto;
    margin-bottom: 20px;
    background-color: $backgroundtab;
    box-shadow: 5px 5px 5px;
}
th{
    background-color: grey;
    color: white;
    border-bottom: 1px solid #111;
    border-left: 2px solid  #fff;
    font-size: 20px;
}
td{
    font-size:20px;
    text-align: left;
    border-left: 2px solid  #fff;
    padding-left: 10px;
}
.container1companylist {
    table-layout: auto;
    border: 1px solid #111;
  }
  .row1{
    font-size: 12px;

}
.row2{
    font-size: 12px;
    background-color:$backgroundrow;
}
@media screen and (max-width:900px){
    main, h1 {
       width: 100%;
    }
}