$font:Arial, Helvetica, sans-serif;
$backgroundbody: url(../images/backgroundpapier.jpg);
$backgroundbutton: url(../images/backgroundbutton.jpg);
$colorcompany:#00C1D4;
$backgroundtab:  honeydew;
$backgroundrow:gainsboro;

main{
    margin:0;
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: $font;
    background-image: $backgroundbody;
    background-position: center;
    background-size: cover;
}


.companylist{
    display: flex;
    justify-content: center;
    color: $colorcompany;
    font-weight: bold;
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorcompany;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.titlecompanylist{
    font-size: 25px;
    font-weight: bold;
    background-color: $colorcompany;
    color: #111;
}
.containercompanylist{

    margin-top: 50px;
}
table{
    border-collapse: collapse;
    width: 900px;
    height: auto;
    margin-bottom: 20px;
    background-color: $backgroundtab;
    box-shadow: 5px 5px 5px;
}
th{
    background-color: grey;
    color: white;
    border-bottom: 1px solid #111;
    font-size: 25px;
}
td{
    font-size:20px;
}
.container1companylist {
    table-layout: auto;
    border: 1px solid #111;
  }
  .row1{
    font-size: 12px;

}
.row2{
    font-size: 12px;
    background-color:$backgroundrow;
}
@media screen and (max-width:900px){
    main, h1 {
       width: 100%;
    }
}