$font:Arial, Helvetica, sans-serif;
$backgroundbody: url(../images/backgroundpapier.jpg);
$backgroundbutton: url(../images/backgroundbutton.jpg);
$colorcompany:#71DBB8;
$backgroundtab:  honeydew;
$backgroundrow:gainsboro;

.contactlisttitle{
    display: flex;
    justify-content: center;
    color: $colorcontact;
    font-weight: bold;
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorcontact;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.containercontactlist{

    margin-top: 50px;
}

.container1contactlist {
    table-layout: auto;
    border: 1px solid #111;
  }
