footer {
margin-bottom: 30px;
height: 30px;
}

.fixed-footer {
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    /*background-color: #79AABC;*/
    background-image: url(../images/backgroundpapier.jpg);
    color: #79AABC;
  }
  
.footer {
      display: flex;
      font-size: 15px;
      font-weight: bold;
      margin-left: 60px;
      font-family: Helvetica, Sans-Serif;
      font-style: italic;
}
  