footer {
background-image: url(../images/backgroundpapier.jpg);
width: 100%;
height: 30px;
margin:0;
padding-top: 10px;
}

.fixed-footer {
    width: 100%;
    color: #79AABC;
  }
  
.footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
     /* margin-left: 60px;*/
      font-family: Helvetica, Sans-Serif;
      font-style: italic;
}
  