
.invoicelisttitle{
display: flex;
justify-content: center;
color: $colorinvoice;
font-weight: bold;
font-size:40px;
margin-top: 50px;
margin-bottom: 20px;
padding-top: 10px;
padding-bottom: 10px;
border: 2px solid $colorinvoice;
border-radius: 10px;
box-shadow: #111 5px 5px 5px;


}
.containerinvoicelist{

margin-top: 50px;
}

.container1invoicelist {
table-layout: auto;
border: 1px solid #111;
}

@media screen and (max-width:900px){
main, .container1, h1 {
   width: 100%;
}
}