.containerlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;  
    box-shadow: 10px 5px 25px #111; 
}
.container1login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    color: #111;
}

.logintitle{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid $colorblue;
    border-radius: 10px ;
    box-shadow: #111 5px 5px 5px;
    color: $colorblue;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.username{
    height: 50px;
    font-weight: bold;
}
.usernamelabel{
    margin-bottom: 30px;  
}
.pwd{
    height: 50px;
    font-weight: bold;
    margin-top: 20px; 
}
.remember{
    height: 50px;
    font-weight: bold;
}
