$font:Arial, Helvetica, sans-serif;
$backgroundbody: url(../images/backgroundpapier.jpg);
$backgroundbutton: url(../images/backgroundbutton.jpg);
$colorcompany:#71DBB8;
$backgroundtab:  honeydew;
$backgroundrow:gainsboro;

.companyshowtitle{
    display: flex;
    justify-content: center;
    color: $colorcompany;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorcompany;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.tvatype{

    font-size: 30px;
    font-weight: bold;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.containercompanyshow{

    margin-top: 50px;
}

.container1companyshow {
    table-layout: auto;
    border: 1px solid #111;
    margin-top: 20px;
  }
