$font:Arial, Helvetica, sans-serif;
$backgroundbody: url(../images/backgroundpapier.jpg);
$backgroundbutton: url(../images/backgroundbutton.jpg);
$colorcompany:#71DBB8;
$backgroundtab:  honeydew;
$backgroundrow:gainsboro;

.invoiceshowtitle{
    display: flex;
    justify-content: center;
    color: $colorinvoice;
    font-weight: bold;
    font-size:40px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $colorinvoice;
    border-radius: 10px;
    box-shadow: #111 5px 5px 5px;
    
}
.containerinvoiceshow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
    margin-top: 50px;
  
}

