$font:Arial, Helvetica, sans-serif;
$backgroundbody: url(../images/backgroundpapier.jpg);
$backgroundbutton: url(../images/backgroundbutton.jpg);
$colorcompany:#00C1D4;
$colorcontact:#71DBB8;
$colorinvoice:#F8485E;
$colortextbutton: blue;
$colorblue:#79AACB;
$backgroundtab:  honeydew;
$backgroundrow:gainsboro;
@import 'footer', 'header', 'addcompany', 'addcontact', 'addinvoice', 'companylist' ,'contactlist', 'invoicelist', 'indexstyle', 'indexnologin', 'login', 'showcompany', 'showcontact', 'showinvoice','404', '500', 'nopermission';


